doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 Please Review and add a comment to this entry, it might help find this dog.

    h3 selected dog: 


    h3 Comments:
        p #{merp}

    h3 Your comment:
    form(action=`/dogs/:id/comments` method="POST")
        label(name="user") User Leaving comment: 
        input(type="text" name="user")
        br
        label(name='content') Comment: 
        input(type="text" name="content")
        br
        button submit
    p Thank You, I'm sure this helps.
    a(href='/dogs')
        button Back
