doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Missing Dog List
    body 
        h1 Here is a list of missing dogs: 
        