doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lost Dog Finder
    body 
        h1 Lost Dog database
        h3 This is the backend for a database of lost dogs. It is meant to be a place to post information about the dog to help identify them, and owner contact to help reunite them.
        p login:
        form(action="/" method="POST")
            label(name="username") Username:
            input(type="text" name="name")
            br
            label(name="password") password:
            input(type="text" name="password")
            br
            input(type="submit" name="submit" value="Submit")
