doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lost Dog Finder
    body 
        h1 This is a test to see if my pug file renders
        h3 It seems it does